# Config #
tools/cli/config/project.cfg

# Visual Studio Code #
.vscode/

# Rebuildables #
**/build/*.zip
out/

# Virutal Environments #
virtualenvs/

# Python #
**/*.pyc

# OSX #
.DS_Store

# Vim #
**/*.sw?